:root {
  /* Define global colors */
  --green-accent: #7cc15c;
  --green-accent-active: #5db651;
  --green-accent-hover: #93d874;
  --book-cover-acent: #d2eac8;
  --secondary-active: #eaeaea;
  --body-background: #ececec;
  --footer-background: #2f2f2f;
  --text-color: #202020;
  --alt-text-color: #f5f5f5;
  --subtext-color: #ababab;

  /* Other variables */
  --hover-transition: 100ms;
  --active-transition: 50ms;
}

/* Material Symbols configs */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

i.material-symbols-outlined {
  user-select: none;
  font-size: 32px;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General styles */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  margin: 0;
  background-color: var(--body-background);
  color: var(--text-color);

  font-size: 16px;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  margin: 0;
}

/* Button states */
button {
  cursor: pointer;
}

.primary,
.secondary {
  border-radius: 10px;
  transition: 100ms;
}

.primary {
  background-color: var(--green-accent);
  border: none;
  color: var(--alt-text-color);
}

.primary:hover {
  background-color: var(--green-accent-hover);
}

.primary:active {
  background-color: var(--green-accent-active);
}

.secondary {
  background-color: var(--alt-text-color);
  border: 4px solid var(--green-accent);
  color: var(--green-accent);
}

.secondary:hover {
  border-color: var(--green-accent-hover);
  color: var(--green-accent-hover);
}

.secondary:active {
  border-color: var(--green-accent-active);
  color: var(--green-accent-active);
  background-color: var(--secondary-active);
}

/* Header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: var(--green-accent);
  padding: 16px 0 16px 0;

  box-shadow: 0 0 32px 12px #33333336;
}

.header-title {
  color: var(--alt-text-color);
  font-size: 2.4rem;
  font-weight: 800;
}

.logo {
  width: 64px;
  height: 64px;
  background-color: var(--alt-text-color);
}

.header-title,
.logo {
  user-select: none;
}

/* Action buttons */
.actions-icons {
  position: absolute;
  display: flex;
  gap: 5px;
  right: 17px;
  top: 10px;
}

.actions-icons > a:link,
.actions-icons > a:visited,
.actions-icons > i {
  color: var(--alt-text-color);
}

.actions-icons i {
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--hover-transition);
}

/* Main elements */

main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.books-container {
  display: grid;
  width: 55vw;
  grid-template-columns: repeat(auto-fit, 175px);
  grid-auto-rows: min-content;
  justify-content: center;
  gap: 25px;
}

.book-card {
  position: relative;
  background-color: var(--alt-text-color);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 0 14px 5px #a3a3a32e;

  cursor: pointer;
  user-select: none;

  bottom: 0px;
  transition: bottom 100ms;
}

.book-card:hover {
  bottom: 12px;
}

.book-card .cover {
  background-color: var(--book-cover-acent);
  aspect-ratio: 191 / 242;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.cover-icon {
  font-size: 4.5rem;
  color: #ffffffbf;
}

.book-card .title {
  font-size: 1.2rem;
  margin: 10px 0 5px 0;
}

.book-card .author {
  font-size: 0.9rem;
  color: var(--subtext-color);
}

i.read-icon {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: var(--alt-text-color);
  border-bottom-left-radius: 5px;
  color: var(--green-accent);
}

.book-card.read i.read-icon {
  display: block;
}

.book-card i.read-icon {
  display: none;
}

/* Empty library */

.empty-library {
  text-align: center;
  color: var(--subtext-color);
}

p.empty-library-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 7px;
}

p.empty-library-subtitle {
  font-size: 1.4rem;
  font-weight: 400;
}

i.empty-library-icon {
  font-size: 4.2rem;
}

/* Create book */

.create-book {
  position: absolute;
  bottom: 25px;
}

.create-book-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  box-shadow: 0 0 10px 4px #4848483a;
}

.create-book-button i {
  font-size: 3.5rem;
}

/* Footer */

footer {
  background-color: var(--footer-background);
  color: var(--alt-text-color);
  padding: 10px 0 10px 0;
  text-align: center;
}

a:link,
a:visited {
  font-weight: 600;
  text-decoration: none;
  color: var(--green-accent);
}
