:root {
  /* Define global colors */
  --green-accent: #7cc15c;
  --green-accent-active: #5db651;
  --green-accent-hover: #93d874;
  --book-cover-acent: #d2eac8;
  --secondary-active: #eaeaea;
  --body-background: #ececec;
  --footer-background: #2f2f2f;
  --text-color: #202020;
  --alt-text-color: #f5f5f5;
  --subtext-color: #ababab;
  --input-background: #e0e0e0;
  --input-text-color: #6b6b6b;
  --input-error-color: #f15b6f;

  /* Other variables */
  --hover-transition: 0.1s;
  --active-transition: 50ms;
  --dialog-transition: 0.25s;
}

/* Material Symbols configs */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

i.material-symbols-outlined {
  user-select: none;
  font-size: 32px;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General styles */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  margin: 0;
  background-color: var(--body-background);
  color: var(--text-color);

  font-size: 18px;

  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-weight: 700;
  color: var(--text-color);
  font-size: 1.7rem;
}

/* Inputs */

input,
button {
  font-family: inherit;
  font-size: inherit;
}

label,
input {
  display: block;
}

label {
  font-weight: 500;
  margin-bottom: 8px;
}

input[type="text"],
input[type="tel"] {
  font-weight: 400;
  width: 100%;
  background-color: var(--input-background);
  color: var(--input-text-color);
  border: none;
  border-radius: 7px;
  padding: 2px 10px 0 10px;
  height: 40px;
  transition: 100ms;
}

input[type="text"]:not(:placeholder-shown),
input[type="text"]:focus,
input[type="tel"]:not(:placeholder-shown),
input[type="tel"]:focus {
  outline: none;
  border-bottom: 6px solid var(--green-accent);
}

input[type="text"]:focus,
input[type="tel"]:focus {
  box-shadow: 0 0 14px -4px var(--green-accent);
}

input[type="text"]:invalid,
input[type="tel"]:invalid {
  border-bottom: 6px solid var(--input-error-color);
}

/* Switch (checkbox) */
.switch-container {
  position: relative;
}

input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 66px;
  height: 40px;
  padding: 7px;
  border-radius: 2rem;
  cursor: pointer;

  background-color: var(--input-background);
  justify-content: start;
  transition: 100ms;
}

.slider {
  display: block;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 2rem;
  background-color: white;
  transition: 100ms;
}

input[type="checkbox"]:checked + .switch {
  background-color: var(--green-accent);
  transition: 100ms;
}

input[type="checkbox"]:checked + .switch .slider {
  transform: translateX(100%);
  transition: 100ms;
}

/* Button states */
button {
  cursor: pointer;
}

.primary,
.secondary {
  border-radius: 10px;
  transition: 100ms;
}

.primary {
  font-weight: 600;
  background-color: var(--green-accent);
  border: none;
  color: var(--alt-text-color);
}

.primary:hover {
  background-color: var(--green-accent-hover);
}

.primary:active {
  background-color: var(--green-accent-active);
}

.secondary {
  font-weight: 500;
  background-color: var(--alt-text-color);
  border: 3px solid var(--green-accent);
  color: var(--green-accent);
}

.secondary:hover {
  border-color: var(--green-accent-hover);
  color: var(--green-accent-hover);
}

.secondary:active {
  border-color: var(--green-accent-active);
  color: var(--green-accent-active);
  background-color: var(--secondary-active);
}

/* Header */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: var(--green-accent);
  padding: 16px 0 16px 0;

  box-shadow: 0 0 32px 12px #33333336;
}

.header-title {
  color: var(--alt-text-color);
  font-size: 2.4rem;
  font-weight: 800;
}

.logo {
  width: 64px;
  height: 64px;
  background-color: var(--alt-text-color);
}

.header-title,
.logo {
  user-select: none;
}

/* Action buttons */
.actions-icons {
  position: absolute;
  display: flex;
  gap: 5px;
  right: 17px;
  top: 10px;
}

.actions-icons > a:link,
.actions-icons > a:visited,
.actions-icons > i {
  color: var(--alt-text-color);
}

.actions-icons i {
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--hover-transition);
}

/* Main elements */

main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.books-container {
  display: grid;
  width: 55vw;
  grid-template-columns: repeat(auto-fit, 175px);
  grid-auto-rows: min-content;
  justify-content: center;
  gap: 25px;
}

.book-card {
  position: relative;
  background-color: var(--alt-text-color);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 0 14px 5px #a3a3a32e;

  cursor: pointer;
  user-select: none;

  bottom: 0px;
  transition: bottom 100ms;
}

.book-card:hover {
  bottom: 12px;
}

.cover {
  background-color: var(--book-cover-acent);
  aspect-ratio: 19 / 25;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.cover-icon {
  color: #ffffffbf;
}

.book-card i.cover-icon {
  font-size: 4.5rem;
}

.book-card .title {
  font-size: 1.2rem;
  margin: 10px 0 5px 0;
}

.book-card .author {
  font-size: 0.9rem;
  color: var(--subtext-color);
}

.book-card .title,
.book-card .author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

i.read-icon {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: var(--alt-text-color);
  border-bottom-left-radius: 5px;
  color: var(--green-accent);
}

.book-card.read i.read-icon {
  display: block;
}

.book-card i.read-icon {
  display: none;
}

/* Empty library */

.empty-library {
  text-align: center;
  color: var(--subtext-color);
}

p.empty-library-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 7px;
}

p.empty-library-subtitle {
  font-size: 1.4rem;
  font-weight: 400;
}

i.empty-library-icon {
  font-size: 4.2rem;
}

/* Create book button */

.create-book-button-container {
  position: fixed;
  bottom: 60px;
}

.create-book-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  box-shadow: 0 0 10px 4px #4848483a;
}

.create-book-button i {
  font-size: 3.5rem;
}

/* Dialog background */
::backdrop {
  background-color: #0000005e;
}

.dialog-boxes > dialog {
  background-color: var(--alt-text-color);
  border: none;
  border-radius: 16px;
  padding: 25px 35px;
}

/* Dialog animations */

::backdrop {
  opacity: 0;
}

.open-dialog {
  animation-name: openDialog;
  animation-duration: var(--dialog-transition);
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

.open-dialog::backdrop {
  opacity: 1;
  transition: 0.5s;
}

.close-dialog {
  animation-name: closeDialog;
  animation-duration: var(--dialog-transition);
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

.close-dialog::backdrop {
  opacity: 0;
  transition: 0.5s;
}

@keyframes openDialog {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes closeDialog {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: -200px;
    opacity: 0;
  }
}

/* Dialog 1: Create new book */

.create-book-grid {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content);
  column-gap: 45px;
  row-gap: 25px;
}

#create-book-dialog .dialog-title {
  grid-column: 1 / -1;
}

#create-book-dialog .cover {
  height: 325px;
  align-self: center;
}

#create-book-dialog .cover-icon {
  font-size: 6.5rem;
}

.inputs-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
}

.dialog-buttons {
  grid-column: 1 / -1;
  justify-self: end;

  display: flex;
  gap: 7px;
}

.confirm-button,
.cancel-button {
  width: 120px;
  height: 50px;
}

/* Footer */

footer {
  background-color: var(--footer-background);
  color: var(--alt-text-color);
  padding: 10px 0 10px 0;
  text-align: center;
}

a:link,
a:visited {
  font-weight: 600;
  text-decoration: none;
  color: var(--green-accent);
}
