:root {
  /* Define global colors */
  --green-accent: #7cc15c;
  --body-background: #ececec;
  --footer-background: #2f2f2f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--body-background);
}

header {
  background-color: var(--green-accent);
}

footer {
  background-color: var(--footer-background);
}
